<div class="page">

  <div class="header">
    <h1>Minhas Campanhas</h1>
    <p>Gerencie todas as suas campanhas criadas</p>
  </div>

  <!-- ALERTA -->
  <div *ngIf="mensagemSucesso" class="alert-success">
    {{ mensagemSucesso }}
  </div>

  <p>Total de campanhas: {{ (campanhas$ | async)?.length || 0 }}</p>

  <div class="cards">

    <div class="card" *ngFor="let campanha of (campanhas$ | async)">

      <img
        [src]="campanha.imagemUrl || 'https://picsum.photos/300/200'"
        alt="Imagem campanha"
      />

      <div class="content">

        <h3>{{ campanha.titulo }}</h3>
        <p>{{ campanha.descricao }}</p>

        <span>
          Kz {{ campanha.valorArrecadado }} de {{ campanha.valorAlvo }}
        </span>

        <div class="actions">

          <!-- 🔥 PASSA O OBJETO INTEIRO -->
          <button class="edit" (click)="editar(campanha)">
            Editar
          </button>

          <button class="delete" (click)="eliminar(campanha.id)">
            Eliminar
          </button>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- 🔥 MODAL -->
<div class="modal" *ngIf="modalAberto">

  <div class="modal-content">

    <h2>Editar Campanha</h2>

    <label>Título</label>
    <input [(ngModel)]="campanhaEditando.titulo" />

    <label>Descrição</label>
    <textarea [(ngModel)]="campanhaEditando.descricao"></textarea>

    <label>Meta</label>
    <input type="number" [(ngModel)]="campanhaEditando.valorAlvo" />

    <div class="modal-actions">

      <button class="btn-save" (click)="salvarEdicao()">
        Guardar
      </button>

      <button class="btn-cancel" (click)="fecharModal()">
        Cancelar
      </button>

    </div>

  </div>

</div>